/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cart-page {
  font-family: "Cairo", sans-serif;
}
.cart-page .shoping__cart__item, .cart-page .cart-image {
  background: #f5f5f5;
}
.cart-page .shoping__cart__item img, .cart-page .cart-image img {
  display: inline-block;
}
.cart-page .heading-container {
  display: flex;
  margin-top: 1em;
  border-bottom: 2px solid #ebebeb;
}
.cart-page .heading-container .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-page .heading-container .products {
  flex: 0 0 40%;
}
.cart-page .heading-container .price {
  flex: 0 0 10%;
}
.cart-page .heading-container .quantity {
  flex: 0 0 30%;
}
.cart-page .heading-container h2 {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
}
.cart-page .heading-container .image-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.cart-page .button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cart-page .button-container button {
  background-color: #f5f5f5;
  text-transform: uppercase;
  padding: 14px 30px 12px;
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 2px;
}
.cart-page .coupon-container {
  margin-top: 2em;
}
.cart-page .coupon-container h5 {
  font-size: 20px;
  color: #1c1c1c;
  margin-bottom: 2em;
  font-weight: 700;
}
.cart-page .coupon-container input {
  height: 46px;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
  display: inline-block;
}
.cart-page .coupon-container button {
  cursor: pointer;
  padding: 15px 30px 11px;
  font-size: 12px;
  letter-spacing: 4px;
  background: #6f6f6f;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.cart-page .bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  justify-content: center;
}
.cart-page .bottom-container .order-card {
  border: none;
  padding: 40px;
  padding-top: 30px;
  background-color: #f5f5f5;
}
.cart-page .bottom-container .order-card .heading-container {
  display: flex;
  border: none;
}
.cart-page .bottom-container .order-card h4 {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 10px;
}
.cart-page .bottom-container .order-card button {
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #7fad39;
  border: none;
}

.quantity-container {
  display: flex;
}
.quantity-container .box {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}
.quantity-container .box input {
  height: 2rem;
  width: 2rem;
  text-align: center;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .cart-page .bottom-container, .cart-page .button-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .cart-page .bottom-container .right, .cart-page .button-container .right {
    flex: 0 0 50%;
  }
  .cart-page .bottom-container .left, .cart-page .button-container .left {
    flex: 0 0 50%;
  }
  .cart-page .bottom-container {
    align-items: flex-start;
  }
}
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=cart.css.map */